body {
    background-image: url("../asset/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
    position: relative;
    background-color: rgb(71, 148, 103);
  }

.containerLuar{
  border-radius: 25px;
  padding: 36px;
  margin-top: 2vh;
}

#welcomeContainer{
  background-color: rgba(202, 202, 202, 0.911);
}
#selectContainer{
  background-color: whitesmoke;
}


.pizzaImage{
  margin: 0%;
  margin-top: -20%;
}

.judulAwal{
  padding-right: -50%;
  margin-left: 50%;
  float:right;
}

h1.judulAwal{
  top: 20 ;
}

.formLogin{
  margin-left: 50%;
}

.username{
margin: 0%;
margin-top: -40%;
}

.pass{
margin: 0%;
margin-top: 5%;
margin-bottom: 5%;
}

#loginAdmin{
  
  margin-left: 60%;
  
}
#loginKasir{
 margin: 0%; 
 
}

#divButton{
  margin: 0%;
  margin-top: -15%;
  margin-bottom: 7%;
}

/* Scroll */

div.scrollmenu {
  background-color: #333;
  overflow: auto;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #777;
}

.imgContent{
  float: left;
  max-width: 50%;
}

/* kasir only */
.btn-product{
  width: 100%;
}
.check
{
    opacity:0.5;
	color:#996;
	
}

/* for modal upload img */


.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#img-upload{
  width: 100%;
}

/*Page Kasir Pertama*/

.toppingImage{
  width: 144px;
  height: 130px;
}

.imageContent{
  display: inline-block;
  margin-right: 20px;
}

#exTab1 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

/* remove border radius for the tab */

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

/* change border radius for the tab , apply corners on top*/

#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
