body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 135%;
    position: relative;
    background-color: rgb(71, 148, 103);
  }

.container{
    border-radius: 25px;
    padding: 5%;
    margin-top: 7%;
    background-color: rgba(202, 202, 202, 0.911);

}

.pizzaImage{
  margin: 0%;
  margin-top: -20%;
}

.judulAwal{
  padding-right: -50%;
  margin-left: 50%;
}

h1.judulAwal{
  top: 20 ;
}

#loginAdmin{
  
  margin-left: 60%;
  
}
#loginKasir{
 margin: 0%; 
 
}

#divButton{
  margin: 0%;
  margin-top: -15%;
  margin-bottom: 7%;
}


