body {
    background-image: url("");
    background-color: rgb(71, 148, 103);
  }

.container{
    border-radius: 25px;
    padding: 5%;
    margin-top: 7%;
    background-color: white;

}

.pizzaImage{
  
}

.judulAwal{
  padding-right: -50%;
  margin-left: 50%;
}

h1.judulAwal{
  top: 20 ;
}

#startButton{
  padding-right: -50%;
  margin-left: 50%;
  
}

